<!DOCTYPE html>
<html>
<head>
<meta http-equlv="content-type" charset="UTF-8">
<title>タイトル</title>
</head>
<link th:href="@{/css/mlp.css}" rel="stylesheet">
<body>
	<form method="post" action="/form" th:object="${formModel}">
		<h1>新規ユーザー登録</h1>
		<labeL>名前</labeL><input type="text" name="name"> <labeL>メール</labeL><input
			type="text" name="mail"> <label>年齢</label><input type="text" name="age"> <labeL>パスワード</labeL><input
			type="pass" name="pass"> 
			<input type = "radio" name = "gender" value = "男性">男性 <input type = "radio" name = "gender" value ="女性">女性
			<select name ="area">
				<option value ="北海道地方">北海道地方</option>
				<option value ="東北地方">東北地方</option>
				<option value ="関東地方">関東地方</option>
				<option value ="中部地方">中部地方</option>
				<option value ="関西地方">関西地方</option>
				<option value ="中国地方">中国地方</option>
				<option value ="四国地方">四国地方</option>
				<option value ="九州地方">九州地方</option>
				<option value ="沖縄地方">沖縄地方</option>
			</select>
			<input type="submit" value="登録">
	</form>
	<h1>顧客リスト</h1>
	<table>
		<tr>
			<th>登録者番号</th>
			<th>名前</th>
			<th>メールアドレス</th>
			<th>年齢</th>
			<th>パスワード</th>
			<th>性別</th>
			<th>地域</th>
		</tr>
		<tr th:each="c : ${customers}">
			<td th:text="${c.id}"></td>
			<td th:text="${c.name}"></td>
			<td th:text="${c.mail}"></td>
			<td th:text="${c.age}"></td>
			<td>見せられないよ</td>
			<td th:text="${c.gender}"></td>
			<td th:text="${c.area}"></td>
		</tr>
	</table>
</body>
</html>